.search-input {
    width: 0;
    padding: 0;
    transition: width 0.1s ease-in-out;
  }
  .search-input.active {
    width: 300px;
    padding: 0 1.5rem;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display:none;
  }