
@media only screen and (max-width: 1360px) {
    .image__post {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

/* responsive media query for image__post */
@media only screen and (max-width: 1024px) {
  .image__post {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
    .image__post {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  