.heart,
.heart-button {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.heart {
  background: none;
  border: none;
  padding: 0;
  transform: scale(var(--button-scale, 1)) translateZ(0);
  transition: transform 0.2s;
}
.heart:active {
  --button-scale: .95;
}

.heart-button {
  --duration: .4s;
  --color: #404660;
  --color-hover: #2b3044;
  --color-active: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #ea4673;
  --background: #fff;
  --background-active: #ea4673;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 7px;
  color: var(--button-color, var(--color));
  border: 1px solid var(--button-border, var(--border));
  background: var(--button-background, var(--background));
  transform: scale(var(--button-scale, 1)) translateZ(0);
  transition: background var(--duration), border-color var(--duration), color var(--duration), transform 0.2s;
}

.heart-button span {
  display: inline-block;
  vertical-align: top;
}
.heart-button > span {
  transform: translateX(var(--text-x, 4px));
  transition: transform var(--duration);
}
.heart-button > span span {
  display: inline-block;
  vertical-align: top;
  opacity: var(--span-opacity, 0);
  transform: translateX(var(--span-x, 4px));
  transition: opacity var(--duration), transform var(--duration);
}
.heart-button:active {
  --button-scale: .95;
}
.heart-button:hover {
  --button-color: var(--color-hover);
  --button-border: var(--border-hover);
}
.heart-button.active {
  --text-x: 0;
  --button-color: var(--color-active);
  --button-border: var(--border-active);
  --button-background: var(--background-active);
  --span-opacity: 1;
  --span-x: 0;
}